<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title color="success">Pikup Call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <img alt="logo" src="assets\map.png" >

   <ion-card>
  <p> Addres</p>
   <p>Complement</p>
   <p>Neighbrohood</p>
   <p>Zip code</p>
   <p>City name </p>
   </ion-card>

   <ion-item>
    <ion-input label="Notes " labelPlacement="floating" placeholder="Note">
    </ion-input>
    <ion-input type="email"></ion-input>
  </ion-item>

</ion-content>
